html,
body {
  height: 100%;
}

/* This makes the background of all pages the same design, which is a url. */
body {
  background-image: url(./assets/death-cap-mushroom.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

/* This is the default of a flex value. */
.content {
  flex: 1 0 auto;
}

/* This turns the navbar around the name the color it needs to be. */
.navbar {
  background-color: rgb(198, 207, 216) !important;
}

/* This spaces out the container the correct way that it needs to be, as well as floats it to the left just as it needs to be. */
.container {
  padding-top: 70px;
  float: left;
}

/* This gives the title of the pages the values I need them to be. */
.display-4 {
  color: rgb(152, 58, 62);
  font-weight: 550;
  font-family: serif, "Times New Roman", Times;
}

.background {
  background: linear-gradient(to top, transparent, rgb(198, 207, 216, 0.4));
}

/* The sticky footer is done with flexbox */
.footer {
  color: whitesmoke;
  text-align: center;
  font-size: 140%;
  padding: 20px;
  flex-shrink: 0;
}

/* Making the name an ID gives my values priority over the Bootstrap ones */
#name {
  color: white;
  font-family: serif, "Times New Roman", Times;
  font-weight: 600;
  font-size: 170%;
}

/* making a button ID will prioritize the background color of my choosing. */
#button {
  background-color: rgb(152, 58, 62);
}

#name,
#email,
#message {
  color: whitesmoke;
}
