html,
body {
  height: 100%;
}

/* This makes the background of all pages the same design, which is a url. */
body {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
}

p {
  color: white;
}

/* This is the default of a flex value. */
.content {
  flex: 1 0 auto;
}

/* This turns the navbar around the name the color it needs to be. */
.navbar {
  background-color: rgb(26, 40, 165) !important;
}

/* This spaces out the container the correct way that it needs to be, as well as floats it to the left just as it needs to be. */
.container {
  padding-top: 70px;
  float: left;
}

/* This gives the title of the pages the values I need them to be. */
.display-4 {
  color: rgb(26, 40, 165);
  font-weight: 550;
  font-family: serif, "Times New Roman", Times;
}

/* this turns the jumbotron background white. */
.background {
  background-image: url(./wood-background-1.jpg);
}

/* The sticky footer is done with flexbox */
.footer {
  background-color: rgb(66, 66, 66);
  color: whitesmoke;
  text-align: center;
  font-size: 140%;
  padding: 20px;
  border-top: 10px solid rgb(26, 40, 165);
  flex-shrink: 0;
}

/* Making the name an ID gives my values priority over the Bootstrap ones */
#name {
  color: white;
  font-family: serif, "Times New Roman", Times;
  font-weight: 600;
  font-size: 170%;
}

/* The About Me image floats left and the margins gives a space between the image and the paragraph that frames it. */
#float-left {
  float: left;
  margin-right: 3%;
  margin-bottom: 3%;
}

/* making a button ID will prioritize the background color of my choosing. */
#button {
  background-color: rgb(26, 40, 165);
}

#name,
#email,
#message {
  color: whitesmoke;
}
