body {
  background-image: url(./ignasi_pattern_s.png);
}

form {
  padding-right: 50px;
}

.navbar-brand {
  background-color: rgb(74, 170, 165);
}

.container {
  padding-top: 70px;
  float: left;
}

.display-4 {
  color: rgb(74, 170, 165);
  font-weight: 550;
  font-family: serif, "Times New Roman", Times;
}

.background {
  background-color: white;
}

.move-left {
  float: left;
}

#name {
  color: white;
  font-family: serif, "Times New Roman", Times;
  font-weight: 600;
  font-size: 170%;
}
